{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex md-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Whiskeys & Cigars Collection 🥃 🚬</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <h1 class="col text-center"><br>Welcome to my Bar</h1> 
            </div>  
            <h3>Please feel free to pick your favorite ↓</h3>
            
        </div>
                <img src="../../static/images/whiskey_bar.jpeg" class="img-fluid p-5" alt="Whiskey Bar">
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div id="Scotch" class="row">
            <h1 class="col text-center"><br>Scotch Whiskey</h1>
        </div>
            <div class="d-flex align-items-center justify-content-center">
                
                <img src="../../static/images/Sotch_whiskey.webp" class="img-fluid p-5" alt="Tennesse Whiskey">
            </div>
            <h3>We likely have the Scots to thank for whisky. 
                The Scotch Whisky Experience noted that the name whisky 
                comes from Uisge Beatha, meaning "water of life" in the Scottish 
                Highlands Gaelic language. Though the alcohol was likely been around 
                for centuries, the first reference to the spirit came in 1494 when tax 
                records note Friar John Cor obtained eight bolls of malt to make aquavit.</h3>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div id="Malt" class="row">
            <h1 class="col text-center"><br>Single Malt and Blended Whisky</h1>
        </div>
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/Single_Malt_and_Blended_Whisky.webp" class="img-fluid p-5" alt="Tennesse Whiskey">
            </div>
            <h3>The art of blending has helped propel Japanese whisky to monumental success. 
                Ireland and Canada are also known for their blended whiskey. 
                But, the single-malt whiskies of Scotland are some of the most prized liquors in the world.</h3>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div id="Bourbon" class="row">
            <h1 class="col text-center"><br>Bourbon</h1>
        </div>
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/Bourbon.webp" class="img-fluid p-5" alt="Tennesse Whiskey">
            </div>
            <h3>Whiskey is as American as apple pie. 
                It's been a part of our history since before the 
                American Revolution (via Distilled Spirits Council). 
                Scotch-Irish immigrants imported stills, fermenting and 
                distilling anything that could become alcohol, from pumpkin 
                and pomegranate to Indian corn and grain.</h3>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div id="Rye" class="row">
            <h1 class="col text-center"><br>Rye Whiskey</h1>
        </div>
            <div class="d-flex align-items-center justify-content-center">

                <img src="../../static/images/Rye_Whiskey.webp" class="img-fluid p-5" alt="Tennesse Whiskey">
            </div>
            <h3>As southern colonists became acquainted with corn whiskey, 
                German and Scotch-Irish immigrants in northern territories 
                like Pennsylvania and Maryland turned to rye to make their 
                whiskey.  The grain was common 
                in Europe, so they were familiar with using it to make whiskey.</h3>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div id="Tennesse" class="row">
            <h1 class="col text-center"><br>Tennesse Whiskey</h1>
        </div>
            <div class="d-flex align-items-center justify-content-center">

                <img src="../../static/images/Tennessee_whiskey.webp" class="img-fluid p-5" alt="Tennesse Whiskey">
            </div>
            <h3>There is something special about Tennessee whiskey. 
                Chris Stapleton summed it up in his Billboard Hot 100 
                song singing his love is "as smooth as Tennessee whiskey.
                " Technically a bourbon, it is made from 51% corn mash, 
                aged in charred, new oak barrels, and bottled at no less 
                than 40% alcohol (via Difference.guru).</h3>
        </div>
    </div>
    <section class="bg-dark text-light text-center shadow">
        <div class="container p-5 bg-dark">
            <div class="row">
                <div id="#" class="d-md-flex md-dark align-items-center justify-content-evenly">
                    <h1 class="col text-center"><br>Now Cigars Collection 🚬</h1>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div id="Cohiba" class="row">
            <h1 class="col text-center"><br>Cohiba Behike</h1>
        </div>
            <div class="d-flex align-items-center justify-content-center">

                <img src="../../static/images/cohiba_behike2.jpeg" class="img-fluid p-5" alt="Tennesse Whiskey">
            </div>
            <h3>This is a classic cigar. The shortish, fat smoke, 
                made with an artful pigtail and clad in gorgeous 
                Colorado wrapper of reddish brown, is a phenomenally 
                rich, delicious smoke that more than lives up to the 
                reputation of cigars with the name Cohiba. It is the 
                finest cigar to come out of Cuba in a long time, and 
                Cigar Aficionado's top cigar of 2010.</h3>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div id="Arturo" class="row">
            <h1 class="col text-center"><br>Arturo Fuenye Opus X</h1>
        </div>
            <div class="d-flex align-items-center justify-content-center">

                <img src="../../static/images/auturo_fuente_opus.jpeg" class="img-fluid p-5" alt="Tennesse Whiskey">
            </div>
            <h3>The Arturo Fuente Fuente Opus X brand revolutionized 
                the Dominican cigar industry when it was introduced in 1995. 
                Nestled in the valley of El Cibao, Dominican Republic, lies 
                Chateau de la Fuente, home to the most sought-after cigar of our 
                time, the coveted Fuente Fuente OpusX</h3>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div id="Padron" class="row">
            <h1 class="col text-center"><br>Padron 1964 Anniversary Series</h1>
        </div>
            <div class="d-flex align-items-center justify-content-center">

                <img src="../../static/images/padron_1964.webp" class="img-fluid p-5" alt="Tennesse Whiskey">
            </div>
            <h3>Indulge in the timeless elegance and mastery of 
                the Padron 1964 Anniversary Series Maduro & Natural, 
                a medium to full-bodied box-pressed blend that commemorates 
                the company's remarkable 30-year journey. This 
                exquisite collection features the finest Sun Grown 
                Natural and Maduro wrappers, carefully chosen to 
                encapsulate the essence of luxury and sophistication.</h3>
        </div>
    </div>
</section>
{% endblock %}